<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangv.notify.core.dao.NfMessageMapper">
  <resultMap id="BaseResultMap" type="com.tangv.notify.core.model.entity.NfMessage">
    <id column="msg_id" jdbcType="BIGINT" property="msgId" />
    <result column="msg_code" jdbcType="VARCHAR" property="msgCode" />
    <result column="gmt_create_by" jdbcType="VARCHAR" property="gmtCreateBy" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify_by" jdbcType="VARCHAR" property="gmtModifyBy" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Base_Column_List">
    msg_id, msg_code, gmt_create_by, gmt_create, gmt_modify_by, gmt_modify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nf_message
    where msg_id = #{msgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nf_message
    where msg_id = #{msgId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tangv.notify.core.model.entity.NfMessage">
    insert into nf_message (msg_id, msg_code, gmt_create_by, 
      gmt_create, gmt_modify_by, gmt_modify
      )
    values (#{msgId,jdbcType=BIGINT}, #{msgCode,jdbcType=VARCHAR}, #{gmtCreateBy,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModifyBy,jdbcType=VARCHAR}, #{gmtModify,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tangv.notify.core.model.entity.NfMessage">
    insert into nf_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msgId != null">
        msg_id,
      </if>
      <if test="msgCode != null">
        msg_code,
      </if>
      <if test="gmtCreateBy != null">
        gmt_create_by,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModifyBy != null">
        gmt_modify_by,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="msgId != null">
        #{msgId,jdbcType=BIGINT},
      </if>
      <if test="msgCode != null">
        #{msgCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreateBy != null">
        #{gmtCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifyBy != null">
        #{gmtModifyBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tangv.notify.core.model.entity.NfMessage">
    update nf_message
    <set>
      <if test="msgCode != null">
        msg_code = #{msgCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreateBy != null">
        gmt_create_by = #{gmtCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifyBy != null">
        gmt_modify_by = #{gmtModifyBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where msg_id = #{msgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tangv.notify.core.model.entity.NfMessage">
    update nf_message
    set msg_code = #{msgCode,jdbcType=VARCHAR},
      gmt_create_by = #{gmtCreateBy,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify_by = #{gmtModifyBy,jdbcType=VARCHAR},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where msg_id = #{msgId,jdbcType=BIGINT}
  </update>
</mapper>