<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangv.uaa.core.dao.TUserMapper">
  <resultMap id="BaseResultMap" type="com.tangv.uaa.core.model.entity.TUser">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="disabled" jdbcType="BIT" property="disabled" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, username, `password`, full_name, disabled, deleted, create_time, modify_time
  </sql>
</mapper>